<div class="container">
  <form class="productForm" [formGroup]="quoteForm">
    <div>
      <h5 class="modal-title">Crear Cita</h5>
    </div>
    <br />
    <h5 class="input-title">Centro de Donación:</h5>
    <div class="form-group">
      <select
        class="form-select"
        formControlName="idCenter"
        aria-label="Default select example"
        required
      >
        <option *ngFor="let item of centerList" value="{{ item.id }}">
          {{ item.name }}
        </option>
      </select>
    </div>
    <br />
    <h5 class="input-title">Fecha:</h5>
      <mat-form-field>
      <input matInput type="datetime-local" placeholder="start date" formControlName ="date">
    </mat-form-field>
    <br/>                                                  
    <div class="buttons">
      <button
        mat-raised-button
        type="submit"
        class="save-button"
        (click)="sweetAlert()"
      >
        Guardar Cita
      </button>
    </div>
  </form>
</div>
