<mat-toolbar class="toolbar">
  <span class="Dog">Tienda de perritos</span>
  <form class="form-inline my-2 my-lg-0">
    <ul *ngIf="isUserAdmin" class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li>
        <a
          class="nav-link"
          [routerLink]="['/home/create-quote']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Agregar Cita</a
        >
      </li>
    </ul>
    <ul *ngIf="!isUserAuthenticated" class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/login']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Iniciar Sesion</a
        >
      </li>
    </ul>
    <ul *ngIf="isUserAdmin" class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li>
        <a
          class="nav-link"
          (click)="sweetAlert()"
          >Logout</a
        >
      </li>
    </ul>
  </form>
</mat-toolbar>
