#intro {
  background-image: url(/assets/Dona-Vida-sombra.png);
  height: 110vh;
  background-position-x: 4rem;
  background-position-y: 15rem;
  background-size: 40.33%;
  background-repeat: no-repeat;
  
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

.btn-primary {
  border-color: #b22222;

  background-color: rgb(228, 17, 17);
}
