#intro {
  background-image: url(/assets/Dona-Vida-sombra.png);
  height: 110vh;
  background-size: cover;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}
