
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="container">
  <h1 class="text-center my-3">Registro De Donaciones</h1>
  

 
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Cantidad</th>
                <th>Centro De Donación</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let center of registerDonationList">
                <td>{{ center.date | date : "dd/mm/yyyy" }}</td>
                <td>{{ center.date | date : "hh:mm" }}</td>
                <td>{{ center.quantity }}</td>
                <td>{{ center.idCenterDonation }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
